.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  text-transform: capitalize;
}

.reveal h1 {
  font-size: 3em;
}

.reveal p, .reveal li {
  color: #70DAF5;
}

.reveal a {
  color: #eee8d5;
}

.reveal a:hover {
  color: #eee8d5;
  text-decoration: underline;
}

.reveal blockquote p {
  padding-left: 20px;
  padding-right: 20px;
}

.reveal img {
  max-height: 550px;
}

.reveal ul {
  width: 100%;
}

.reveal blockquote {
  text-align: left !important;
  font-size: 1.4rem !important;
}

.reveal table {
  font-size: 90% !important;
}

.reveal .fa {
  font-family: 'FontAwesome';
  font-style: normal;
  font-size: 75%;
}

.clearfix {
  clear: both;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.small-font {
  font-size: 0.8em !important;
}

.no-text-transform {
  text-transform: none !important;
}

.pad-top {
  padding-top: 20px !important;
}

.pad-bottom {
  padding-bottom: 20px !important;
}

.pad-left {
  padding-left: 20px !important;
}

.pad-right {
  padding-right: 20px !important;
}

.margin-auto {
  margin: auto !important;
}

.no-border {
  border: 0 !important;
  background: none !important;
}

.vialogues-player {
  display: block;
  height: 480px;
  width: 800px;
  margin: auto !important;
}

.fifty-percent-w {
  width: 50%;
  display: block;
}

.six-sixty-w {
  width: 660px;
  display: block;
  margin: auto !important;
}

.inline-block {
  display: inline-block;
}

/* Slides */

.thumb {
  height: 85px;
  margin: 0 10px 0 0 !important;
  display: inline-block;
}

.thumb-name {
  display: inline-block;
  vertical-align: top !important;
  width: 700px;
}
