.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  text-transform: capitalize;
}

.reveal p, .reveal li {
  color: #70DAF5;
}

.reveal a {
  color: #eee8d5;
}

.reveal a:hover {
  color: #eee8d5;
  text-decoration: underline;
}

.reveal blockquote p {
  padding-left: 20px;
  padding-right: 20px;
}

.reveal img {
  max-height: 550px;
}

.reveal ul {
  width: 100%;
}

.reveal blockquote {
  text-align: left !important;
  font-size: 1.4rem !important;
}

.reveal table {
  font-size: 90% !important;
}

.reveal .fa {
  font-family: 'FontAwesome';
  font-style: normal;
  font-size: 75%;
}

.clearfix {
  clear: both;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.small-font {
  font-size: 0.8em !important;
}

.no-text-transform {
  text-transform: none !important;
}

.pad-top {
  padding-top: 20px !important;
}

.pad-bottom {
  padding-bottom: 20px !important;
}

.pad-left {
  padding-left: 20px !important;
}

.pad-right {
  padding-right: 20px !important;
}

.margin-auto {
  margin: auto !important;
}

.no-border {
  border: 0 !important;
  background: none !important;
}

.vialogues-player {
  display: block;
  height: 480px;
  width: 800px;
  margin: auto !important;
}

.thirty-three-percent-w {
  width: 33%;
  display: inline-block;
}

.fifty-percent-w {
  width: 50%;
  display: block;
}

.forty-five-percent-w {
  width: 45%;
  display: block;
}

.ninety-percent-w {
  width: 90%;
  display: block;
}

.five-fifty-w {
  width: 550px;
  display: block;
  margin: auto !important;
}

.five-hundred-w {
  width: 500px;
  display: block;
  margin: auto !important;
}

.four-twenty-five-w {
  width: 425px;
  display: block;
  margin: auto !important;
}

.three-fifty-w {
  width: 350px;
  display: block;
  margin: auto !important;
}

.two-forty-h {
  height: 240px;
  display: block;
  margin: auto !important;
}

.inline-block {
  display: inline-block;
}

/* Slides */

h4.subtitle {
  line-height: 180px;
  vertical-align: bottom;
}

/* index.md */
#index {
  width: 1200px;
  margin-left: -120px;
}

#references p {
  font-size: 0.8em !important;
  text-align: left;
}

/* vialogues.md */
.timeline-container {
  float: left;
  width: 30%;
  text-align: center;
}

.timeline {
  position: relative;
  margin: -35px auto 0 auto !important;
  display: block;
  height: 1000px;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  right: 10%;
  margin-left: -3px;
}

/* Container around content */
.timeline-year {
  padding: 15px !important;
  position: relative;
  background-color: #fff;
  vertical-align: middle !important;
  width: 180px;
  border-radius: 10px;
  color: #2b2b2b;
}

.timeline-year::before {
  content: " ";
  height: 0;
  position: absolute;
  z-index: 1;
  right: -10px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

.version-container {
  float: left;
  width: 70%;
  margin-top: 50px !important;
}

/* Timeline circle */
.timeline-year::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -62px;
  background-color: #70DAF5;
  border: 4px solid #FFF;
  top: 5px;
  border-radius: 50%;
  z-index: 1;
}

.timeline-year-2008 {
  top: 10%;
}

.timeline-year-2009 {
  top: 25%;
}

.timeline-year-2010 {
  top: 40%;
}

.timeline-year-2017 {
  top: 55%;
}

img.screenshot {
  width: 70%;
  left: 0;
  position: absolute;
}

img.screenshot-2009 {
  top: 350px;
}

img.screenshot-2012 {
  top: 150px;
}

img.screenshot-2015 {
  top: 500px;
}

img.screenshot-2017 {
  top: 350px;
}

/* video-annotation.md */

.thumb {
  height: 85px;
  margin: 0 10px 0 0 !important;
  display: inline-block;
}

.thumb-name {
  display: inline-block;
  vertical-align: top !important;
  width: 700px;
}
