.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  text-transform: capitalize;
}

.reveal p, .reveal li {
  color: #70DAF5;
}

.reveal a {
  color: #eee8d5;
}

.reveal a:hover {
  color: #eee8d5;
  text-decoration: underline;
}

.reveal blockquote p {
  padding-left: 20px;
  padding-right: 20px;
}

.reveal img {
  max-height: 550px;
}

.slideshow img {
  margin: auto !important;
}

.reveal ul {
  width: 100%;
}

.reveal blockquote {
  text-align: left !important;
  font-size: 1.4rem !important;
}

.reveal table {
  font-size: 90% !important;
}

.clearfix {
  clear: both;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.small-font {
  font-size: 0.8em !important;
}

.no-text-transform {
  text-transform: none !important;
}

.pad-top {
  padding-top: 20px !important;
}

.pad-bottom {
  padding-bottom: 20px !important;
}

.pad-left {
  padding-left: 20px !important;
}

.pad-right {
  padding-right: 20px !important;
}

.margin-auto {
  margin: auto !important;
}

.no-border {
  border: 0 !important;
  background: none !important;
}

.fifty-percent-w {
  width: 50%;
  display: block;
}

.forty-five-percent-w {
  width: 45%;
  display: block;
}

.ninety-percent-w {
  width: 90%;
  display: block;
}

.five-fifty-w {
  width: 550px;
  display: block;
  margin: auto !important;
}

.five-hundred-w {
  width: 500px;
  display: block;
  margin: auto !important;
}

.four-twenty-five-w {
  width: 425px;
  display: block;
  margin: auto !important;
}

.three-fifty-w {
  width: 350px;
  display: block;
  margin: auto !important;
}

.two-forty-h {
  height: 240px;
  display: block;
  margin: auto !important;
}

/* Player Fixes */
.vialogues-player {
  width: 450px;
  height: 253px;
  display: block !important;
  margin: auto !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: normal !important;
}

.vialogues-player .jw-icon:before {
  font-family: "jw-icons" !important;
}

.vialogues-player .jw-display-container {
  vertical-align: middle !important;
}

/* Slides */

/* index.md */
#index {
  width: 1200px;
  margin-left: -120px;
}

#references p {
  font-size: 0.8em !important;
  text-align: left;
}
