.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  text-transform: capitalize;
  text-align: center !important;
}

.reveal a:hover {
  color: #eee8d5;
  text-decoration: underline;
}

.reveal blockquote p {
  padding-left: 20px;
  padding-right: 20px;
}

.reveal img {
  max-height: 550px;
}

.reveal ul {
  width: 100%;
}

.reveal blockquote {
  text-align: left !important;
  font-size: 1.4rem !important;
}

.reveal table {
  font-size: 90% !important;
}

.reveal .fa {
  font-family: 'FontAwesome';
  font-style: normal;
  font-size: 75%;
}

.clearfix {
  clear: both;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.small-font {
  font-size: 0.8em !important;
}

.no-border {
  border: none !important;
  box-shadow: none !important;
}

.inline-block {
  display: inline-block;
}

/* Slides */

h4.subtitle {
  line-height: 50px;
  vertical-align: bottom;
}

.timeline-container {
  float: left;
  width: 60%;
  text-align: center;
}

.timeline {
  position: relative;
  display: block;
  height: 600px !important;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  right: 10%;
  margin-left: -3px;
}

/* Container around content */
.timeline-year {
  position: absolute;
  background-color: #fff;
  vertical-align: middle !important;
  width: 100px;
  border-radius: 10px;
  color: #70DAF5;
  left: 465px;
  margin-bottom: 1em !important;
  z-index: 100;
  margin-top: -52px !important;
}

/* Timeline circle */
.timeline-year::after {
  content: ' ';
  position: absolute;
  width: 26px;
  height: 26px;
  right: 32px;
  background-color: #FFF;
  border: 4px solid #70DAF5;
  top: 44px;
  border-radius: 50%;
  z-index: 1;
}

.timeline-year-2008 {
  top: 0%;
}

.timeline-year-2009 {
  top: 10%;
}

.timeline-year-2010 {
  top: 20%;
}

.timeline-year-2011 {
  top: 30%;
}

.timeline-year-2012 {
  top: 40%;
}

.timeline-year-2013 {
  top: 50%;
}

.timeline-year-2014 {
  top: 60%;
}

.timeline-year-2015 {
  top: 70%;
}

.timeline-year-2016 {
  top: 80%;
}

.timeline-year-2017 {
  top: 90%;
}

.timeline-year-2018 {
  top: 100%;
}

.edlab-projects {
  margin-right: 10% !important;
  text-align: left;
  padding-top: 35px !important;
}


.my-projects {
  float: left;
  width: 40%;
  text-align: left;
}

p.project {
  font-weight: bold;
}

.timer {
  background-color: orange !important;
  color: white !important;
  width: 135px !important;
  margin: auto !important;
  padding: 15px !important;
}
